body {
  font-family: 'Roboto', sans-serif;
  background: white;
  color: black;
}

a {
  text-decoration: none;
  color: rgb(139, 201, 201);
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1,
h2,
h3 {
  color: black;
  text-align: center;
}
